$icon-font-path: '../fonts/';

@import "_includs";

.blog {

    &__list {
        display: flex;
        margin: 0 -9px;
    }

    &__item {
        margin: 0 -9px;
        width: calc(66.6% - 18px);

        &.min {
            width: calc(33.3% - 18px);
        }
    }
}