$icon-font-path: '../fonts/';

@import "_includs";

.left-col {
    padding: 35px;
    width: calc(100% - 285px - 10px);
    flex-grow: 1;

    &.min {
        padding: 5px;
    }
}

.right-col {
    padding: 35px;
    margin: 5px;
    width: calc(33.3% - 10px);

    &.blue {
        background: $blue;
        color: #fff;
    }

    .price {

        &__block {
           /* display: flex;
            flex-wrap: wrap;*/            
            font-size: 16px;
            margin-top: 20px;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 5px 0;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            width: 100%;           
            font-weight: 600;
            color: #b8ddf4;
            margin-bottom: 5px;
        }

        &__name,
        &__sum {
            font-weight: 600;
            display: inline-block;
        }

        &__name {
            width: 60%;
        }

        &__sum {
            width: 40%;
            font-weight: 600;
            padding-left: 10px;
            text-align: right;
        }

        &__subtitle {
            display: block;
            width: 100%;           
            font-weight: 600;
            color: #b8ddf4;           
        }        
    }
}

.price-link {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    border-bottom: 1px dashed #fff;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        text-decoration: none;
        border-bottom: none;
    }
}

.counter {

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%; 
        margin-bottom: 20px;       
        
        &:nth-child(2n) {

            .counter-wrap {
                margin-left: -1px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;
        background: $light-blue;
        cursor: pointer;
        color: $blue;
    }

    &__name {
        font-size: 16px;
        font-weight: 400;
        max-width: calc(100% - 54px - 20px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.counter-wrap {
    display: flex;
    border: 1px solid $border-color;
    padding: 10px;    
    justify-content: space-between;
    align-items: center;   
}

.counter-link-block {
    margin-top: 5px;
}

.counter-link {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: $blue;
    border-bottom: 1px dashed $blue;

    &:hover,
    &:active,
    &:focus {
        color: $blue;
        text-decoration: none;
        border-bottom: none; 
    }
}

.servises {

    &__list {
        display: flex;     
        flex-wrap: wrap;
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;

        &.partner {

            .servises__item {
                width: 50%;
            }
        }
    }

    &__item {
        width: 33.3%;
        display: flex;       
        border: 1px solid $border-color;        
        height: 125px;
        transition: all .4s ease 0s;
        margin-right: -1px;
        margin-top: -1px;

        .link {
            color: $blue;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            
            &:hover {
               
                .servises__item-popup {
                    opacity: 1;
                    z-index: 10;

                    p {
                        color: $black;
                    }
                }
            }
        }

        &:hover {
            background: $blue;            

            .link {
                color: #fff;
            }

            .servises-item-title {
                color: #fff;
            }
        }

        &.item-1 {

            .servises-icon {
                background: url(../images/s-icon-1.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-1-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-2 {

            .servises-icon {
                background: url(../images/s-icon-2.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-2-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-3 {

            .servises-icon {
                background: url(../images/s-icon-3.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-3-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-4 {

            .servises-icon {
                background: url(../images/s-icon-4.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-4-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-5 {

            .servises-icon {
                background: url(../images/s-icon-5.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-5-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-6 {

            .servises-icon {
                background: url(../images/s-icon-6.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-6-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-7 {

            .servises-icon {
                background: url(../images/s-icon-7.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-7-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-8 {

            .servises-icon {
                background: url(../images/s-icon-8.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-8-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-9 {

            .servises-icon {
                background: url(../images/s-icon-9.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-9-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-10 {

            .servises-icon {
                background: url(../images/s-icon-10.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-10-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }

        &.item-11 {

            .servises-icon {
                background: url(../images/s-icon-11.svg) no-repeat;
                background-size: cover;
            }

            &:hover {

                .servises-icon {
                    background: url(../images/s-icon-11-hover.svg);
                    background-size: cover;
                   
                } 
            }
        }
    }

    &__item-popup {
        padding: 15px;
        border-radius: 5px;
        background: #fff;
        position: absolute;
        box-shadow: 0px 1px 10px 2px #c4eaf8;
        width: 195px;       
        z-index: -15;
        top: calc(100% + 20px);
        left: 0;
        opacity: 0;
        transition: all .4s ease 0s;
    }

    &__item-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 20px;
        position: relative;
    }
}

.servises-item-popup-text {
    font-size: 12px;
}

.servises-item-title {
    font-size: 16px;
    font-weight: 600;
}

.servises-icon {
    display: inline-block;
    flex-basis: auto;
    flex-shrink: 0;
    width: 53px;
    height: 53px;
    margin-right: 10px;
}

.faq-list {
    counter-reset: item;	
}

.faq-item {
    border-bottom: 1px solid $light-blue;
    padding: 15px 0 15px 30px;
    position: relative;

    &:before {
        content: "" counter(item);
        counter-increment: item;
        display: inline-block; 
        font-size: 18px;
        font-weight: 800;
        color:  $clear-blue; 
        position: absolute;
        top: 15px;
        left: 0;     
    }

    &:nth-child(-n+9):before { /* 1 - 9 */
        content: "0" counter(item); /* becomes 01 - 09 */
    }

    &:last-child {
        border-bottom: none;
    }
}

.faq-title {

    a {
        display: inline-block;
        color: $black;
        font-size: 18px;
        font-weight: 600;        

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $black;
        }

        &.collapsed {

            &:after {
                transform: rotate(45deg);
            }
        }

        &:after { 
            border-bottom: 1px solid $blue;
            border-right: 1px solid $blue;
            content: '';
            display: inline-block; 
            height: 7px;
            width: 7px;
            margin-top: -4px;
            pointer-events: none;            
            right: 12px; 
            top: 50%; 
            transform-origin: 66% 66%;
            transform: rotate(-135deg);
            transition: all 0.15s ease-in-out;
        }
    }
}

.faq-body {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 15px;
}

.form-wrap {
    margin: 30px 0;
}



//calc



.paycard {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 15px -10px;
	}

	&__item {
		width: calc(16.66% - 20px);
		margin: 0 10px;	
		display: flex;
		align-items: center;
	}
}

.thank-block {
    background: $blue;
    min-height: 535px;
    padding: 100px 70px;
    display: flex; 
    color: #fff;
    position: relative;

    &:after {
        content: "";
        background: url(../images/thank.png) no-repeat;
        background-position: 100% 50%; 
        background-size: contain;
        width: 315px;
        height: 387px;
        display: block;
        position: relative;
       /* top: 25px;
        right: 70px;*/
        top: -50px;
        right: 0;
        z-index: 10;
    }
    
    &__wrap {
        width: 445px;
        max-width: 445px;
        margin-right: 20px;
    }


    &__title {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5em;
    }
}


