$icon-font-path: '../fonts/';

@import "_includs";

.is-hidden {
    opacity:0;
    }
    
.visible {
    opacity:1;
}

.trans {
	transition: all .4s ease 0s;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.img-wrap {
	overflow: hidden;

	img {
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
	vertical-align: top;
	font-family: 'object-fit: cover';
	
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.flex {
	display: flex;
	width: 100%;
}

.aic {
	align-items: center;
}

.fe {
	justify-content: flex-end;
}

.sb {
	justify-content: space-between;
}

.aife {
	align-items: flex-end;
}

.col-20 {
	width: 20%;
}

.col-30 {
	width: 30%;
}

.col-33 {
	width: 33.3%;
}

.col-35 {
	width: 35%;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
	
}

.col-60 {
	width: 60%;
}

.col-66 {
	width: 66.6%;
}


.col-70 {
	width: 70%;
}

.col-80 {
	width: 80%;
}

.col-90 {
	width: 90%;
}

.col-100 {
	width: 100%;
}

.h-100{
	height: 100%;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-72 {
	margin-top: 72px;
}

.pl {
	padding-left: 50px;
}

.pr {
	padding-right: 50px;
}

.deco-line {
	position: relative;

	&:before {
		content: "";
		width: 100%;
		height: 7px;
		background: $blue;
		display: block;
		margin-bottom: 20px;
	}

	&__thin {
		position: relative;

		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background: $blue;
			display: block;
			margin-bottom: 20px;
		}

		&_black {

			&:before {
				background: $black;
			}
		}

		&.min {

			&:before {
				width: 55%;
			}
		}
	}

	&.black {

		&:before {
			background: $black;
		}
	}

	&.min {

		&:before {
			width: 55%;
		}
	}
	
}

.light-blue {
	background: $light-blue;
}

.bg-white {
	background: #fff;
}

.desct-none {
	display: none;
}