$icon-font-path: '../fonts/';

$black: #282828;
$yellow: #ffd826;
$blue: #03a2e3;
$light-blue: #e5f6fc;
$clear-blue: #ccedf9;
$gray: #b2b2b2;
$dark-gray: #686868;
$red: #ff2066;
$border-color: #e5e5e5;