$icon-font-path: '../fonts/';

@import "_includs";

html {
	height: 100%;
	//overflow-x: hidden; 
}

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	color: $black;
	background: #fff;	
	min-width: 320px;
	height: 100%;	
	overflow-x: hidden;
}

.main {
	width: calc(100% - 268px);	
	position: relative;
	z-index: 1;
	margin-left: 268px;
	min-height: 100%;
	
    &:after {
        content: "";
        width: 7px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -7px;
        background: linear-gradient( to right, #e8f7fc, #fff);
    }
}

.container {
	max-width: 1010px;
	padding: 0 20px;
	position: relative;
	z-index: 10;

	&.min {
		padding: 0 65px;
	}
}

.width-block {
	position: relative;
    margin-left: -7px;
    width: calc(100% + 7px);
    z-index: 10;
}

.row-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -39px;

	.col-50 {
		width: calc(50% - 78px);
		margin: 0 39px;
	}
}

.top-block {
	margin-top: -100px;
}
