$icon-font-path: '../fonts/';

@import "_includs";

.main-title-section {
    background: $light-blue;
    padding: 85px 0 135px;    
}

.title-block {

	&__row {
		display: flex;
        margin: 0 -68px;
        
        .col-50 {
            width: calc(50% - 134px);
            margin: 0 68px;           
        }

        .col-33 {
            width: calc(33.3% - 134px);
            margin: 0 68px;           
        }

        .col-66 {
            width: calc(66.6% - 134px);
            margin: 0 68px;           
        }

        .button {
            margin-top: 30px;
        }

        .title {
            position: relative;

            .fa {
                color: #bdd8e2;
                position: absolute;
                left: 0;
                bottom: -60px;
                font-size: 42px;
            }
        }
    }    
	
}

.main-content-section {
    margin-bottom: 30px;
    
    .container {
        background: #fff;        
    }
    
}

.content {

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -50px -15px 0;        
    }

    &__item {
        width: calc(33.33% - 30px);
        margin: 0 15px 40px;

        a {
            display: block;
            width: 100%;
            height: 100%; 

            &:hover {
                text-decoration: none;

                img {
                    transform: scale(1.1);
                    transition: all .5s;  
                }

                .content-item-title {
                    text-decoration: underline;
                }
            }

            &:not(:hover) {

                img {                    
                    transition: all .5s;  
                }
            }
        }

        .img-wrap {
            height: 200px;
        }

        &-descr {
            margin-top: 15px;
            
            &.red {                
                .content-item-title {
                    color: #ff2066;                
                }    
            }

            &.green {               

                .content-item-title {
                    color: #99c426;             
                }  
            } 

            &.blue {               

                .content-item-title {
                    color:$blue;            
                }  
            }
        }

        .content-item-title {
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10px;           
        }

        .content-item-text {
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
    }
}

.main-text-section {
    padding: 57px 0;

    .row-wrap {
        margin-top: 25px;
    }
}