$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 375px) {

    .title-block {

        .col-40 {
            padding: 0;
        }
    }

	.button {
        max-width: 100%;
    }

    .calc {
        
        &__item {
            margin: 10px 0;
            width: 100%;
        }
    }
}



