$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1318px) {
    
	.container {
        width: 100%;
    }	

    .submenu {
        max-width: 100%;
    }

    //footer
    .footer-col-wrap {

        .col-35,
        .col-25,
        .col-20, {
            width: calc(50% - 40px); 
        }

        .col-20 {
            order: -1;
            margin-bottom: 50px;
        }
        
    }

}