$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 667px) {

    .submenu {
        flex-direction: column;

        &__list {
            width: 100%;
            border-right: none;
            padding: 5px 0;
        }

        &__item {

            &.title {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }

    .content {

        &__item {
            width: calc(50% - 30px);
        }
    }

    .row-wrap {

        .col-50 {
            width: calc(100% - 78px);
            margin-bottom: 15px;  
        }
    }

}	