$icon-font-path: '../fonts/';

@import "_includs";

.servises-title-section {
    padding: 85px 0 135px;
    background: $light-blue;
	position: relative;
	height: 100%;
	min-height: 445px;

	&.img-bg {
		min-height: 585px;
		padding: 135px 0;

		.title-img-wrap {
			width: 100%;
		}		
	}
}

.title-img-wrap {
	position: absolute;
	width: 56%;
	height: 100%;	
	top: 0;
	right: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
		font-family: 'object-fit: cover;';
	}

	&_1 {		
		//height: 550px;		
	}
	
}

.servises-price {	

	&__list {
		display: flex;		
		margin: 30px -30px;		
	}


	&__item {
		border-right: 1px solid $border-color;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		width: calc(30% - 60px);
		padding: 0 30px;		

		&:last-child {
			border-right: none;
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 800;
		color: #f99b07;
		margin-left: 10px;
		width: calc(100% - 68px - 10px);		
	}


	&__descr {
		width: 100%;
		font-size: 18px;
		font-weight: 600;
		margin-top: 10px;
	}
}

.price-icon-block {
	width: 68px;
	flex-basis: auto;
	flex-shrink: 0;
	height: 67px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		-o-object-fit: contain;
		font-family: 'object-fit: contain;';
	}
}



.clean-list {

	.panel-default {
		border: none;
		box-shadow: none;
	}

	.panel-body {
		padding: 15px 0 15px 23px;
	}

	
}

.clean-list-heading {

	a {
		font-size: 24px;
		font-weight: 700;
		display: flex;
		align-items: flex-end;
		line-height: 15px;
		
		.icon {
			margin-right: 20px;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $blue;
		}
	}
}

.clean {

	&__list {

		&.min {
			
			.clean__item {
				font-size: 16px;				
				line-height: normal;
			}
		}
	}

	&__item {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5em;
		position: relative;
		padding-left: 27px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: "";
			width: 8px;
			height: 8px;
			background: $yellow;
			border-radius: 50%;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
}

.clean-section {
	z-index: 100;
}

.advant-section {
	z-index: 0;
}

.advant {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 20px -35px 0;
	}

	&__item {
		width: calc(25% - 70px);
		margin: 30px 35px;
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5em;
		margin: 15px 0;
	}

	&__text {
		font-size: 16px;
		color: $dark-gray;
	}
}

.order-section {
	margin: 50px 0 50px -7px;	
	padding: 40px 0;
	width: calc(100% + 7px);
	position: relative;
	z-index: 10;

	&.mt {
		margin: 50px 0 0 -7px;
	}

	&.mb {
		margin: 0 0 50px -7px;
	}
	
}

.bg-section {
	position: relative;

	&:before {
		content:"";
		background: url(../images/bg-2.png) no-repeat 100% 50%;
		width: 280px;
		height: 245px;
		background-size: contain;
		position: absolute;
		top: 50%;
		margin-top: -122px;
		right: 0;
		//z-index: 10;;
	}

	&:after {
		content:"";
		background:  url(../images/line.png) repeat;
		width: 200%;
		height: 173px;
		position: absolute;
		top: 50%;
		margin-top: -61px;
		left: 100%;	
	}
}

.slider-block {
	background: $blue;
	position: relative;
	padding: 20px 10px;
	border-radius: 5px 0 0 5px;
	color: #fff;

	&:after {
		content: "";
		width: 200%;
		height: 100%;
		background: $blue;
		position: absolute;
		top: 0;
		right: -200%;
	}

	&.min {
		border-radius: 5px;		

		&:after {
			display: none;
		}

		.num {
			font-size: 24px;
			font-weight: 800;
			display: block;
		}
	}
}

.content-slider {

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			padding: 1px;
			border: 1px solid #fff;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 16px;

			&.slick-active {

				button {
					background: #fff;
					width: 8px;
					height: 8px;
					border-radius: 50%;
	
					&:before {
						display: none;
					}
				}
			}

			button {
				background: transparent;
			}

		}
		
	}
}


.slider-item {
	padding: 0 10px;
}

.slider-text {
	font-size: 16px;
	font-weight: 600;
	line-height: normal !important;
	margin-top: 15px;
}

.why-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

.bg-img-section {
	min-height: 460px;

	.top-block {
		background: #fff;
	}
}

.top-block-head {
	padding: 45px;
}

.decore {

	&__block {

	}

	&__list {
		display: flex;		
	}

	&__item {
		width: 33.3%;
		position: relative;

		&:before {
			content: "";
			width: 1px;
			height: 98px;
			background: $blue;
			display: block;
			position: absolute;
			bottom: 50%; 
			margin-bottom: -49px;
			left: 25px;
		}
	}
}

.decore-block {
	min-height: 158px;
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 25px;

	&.blue {
		background: $blue;
	}

	&.d-blue {
		background: #b2e3f6;
	}

	.img-wrap {
		max-width: 77px;
		max-height: 81px;

		img {
			object-fit: contain;
			-o-object-fit: contain;
			font-family: 'object-fit: contain;';
		}
	}
}

.decore-block-text {	
	font-size: 14px;
	color: $black;
	font-weight: 400;
	text-align: center;
	display: inline-block;
}

.color-section {
	background: $blue;	
	color: #fff;
	position: relative;	
	padding: 40px 0;
	//min-height: 470px;

	.img-wrap {
		position: absolute;
		top: -40px;
		right: 0;
	}
}


.infograph-2 {
	display: none;
}

.color-section-content {
	min-height: 320px;
}

.prosess {

	&__list {
		counter-reset: procItem;
		margin-top: 30px;
	}

	&__item {
		position: relative;
		margin: 10px 0;
		font-size: 16px;
		display: flex;
		justify-content: space-between;

		&:after {
			content:"";
			display: block;
			width: calc(100% - 55px);
			border-bottom: 2px dashed $black;
			position: absolute;
			bottom: 10px;
			left: 35px;
		}

		&:before {
			content: "" counter(procItem);
			counter-increment: procItem;
			display: inline-block; 
			font-size: 16px;
			font-weight: 700;
			color:  $blue; 
			position: absolute;
			top: 0;
			left: 0;     
		}

		&:nth-child(-n+9):before { /* 1 - 9 */
			content: "0" counter(procItem); /* becomes 01 - 09 */
		}

		span {
			display: inline-block;
			margin-left: 30px;
			background: #fff;
			position: relative;
			height: 20px;
			z-index: 10;
			padding-right: 10px;			
		}

		&.w-1 {
			max-width: 665px;
		}

		&.w-2 {
			max-width: 800px;
		}

		&.w-3 {
			max-width: 830px;
		}

		&.w-4 {
			max-width: 860px;
		}

		&.w-5 {
			max-width: 805px;
		}

		&.w-6 {
			max-width: 830px;
		}

		&.w-7 {
			max-width:100%;
		}
	}
}

.price-table-wrap {
	margin-top: 30px;
}

.price-table-text {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: $gray;
	font-style: italic;
	margin-bottom: 20px;
}

.price-table {
	width: 100%;
	table-layout: fixed;	

	thead {

		tr {
			background: $blue;		
			color: #fff;

			th {
				padding: 20px 30px;
				text-align: center;
				vertical-align: middle;
				font-size: 24px;
				font-weight: 700;

				&:first-child {
					border-radius: 5px 0 0 5px;	
					text-align: left;
				}

				&:last-child {
					border-radius: 0 5px 5px 0;	
				}
			}
		}
	}

	tbody {
		border: 1px solid #666666;
		border-top: none;
		

		tr {
			&:nth-child(2n) {
				background: $light-blue;
			}

			td {
				font-size: 16px;
				padding: 20px 30px;
				font-weight: 600;
				text-align: center;
				vertical-align: middle;
				border-left: 1px solid $border-color;
	
				&:first-child {			
					text-align: left;
					border-left: none;
				}
			}
		}
	}
}

.name-1 {
	width: 50%;
}

.feedback-slider {
	margin: 50px -18px 30px;

	.slick-dots {

		 li {

			button {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $blue;

				&:before {
					display: none;
				}
			}

			&.slick-active {

				button {
					background: $light-blue;
				}
			}
		 }
	}
}

.feedback-block {	
	margin: 0 18px;	
	position: relative;	

	.img-wrap {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.slick-next {

	}
}

.feedback-block-wrap {
	margin: 55px 0 10px 55px;
	box-shadow: 0px 1px 10px 2px #e8f7fc;
	padding: 50px;
	position: relative;
	
}

.feedback-name-wrap {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	color: $gray;
	margin-bottom: 10px;
}

.feedback-title {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 700;
}

.feedback-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
}

.feedback-slider-button {
	margin: 0 0 0 55px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;	
}

.slider-btn {
	background: transparent;
	color: $blue;
	border: none;
	display: flex;
	align-items: center;

	.fa-long-arrow-left {
		margin-right: 10px;
	}

	.fa-long-arrow-right {
		margin-left: 10px;
	}
}

.plant {

	&__list {		
		margin: 150px -33px 0;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(25% - 66px);
		margin: 0 33px;

		.img-block {
			width: 100%;
			height: 170px;
			padding: 15px;
			background: $blue;
			border: 15px solid $light-blue;
			margin: 0 auto;
			position: relative;
			text-align: center;

			img {
				width: 80px;
				position: relative;
				bottom: 100%;				
				margin: -20px auto 0;
			}
		}
	}

	&__text {
		margin-top: 10px;
		font-size: 18px;
		font-weight: 400;
	}
}
