/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-adv-1 {
  background-image: url(../images/sprite.png);
  background-position: -79px 0px;
  width: 54px;
  height: 42px;
}
.icon-adv-2 {
  background-image: url(../images/sprite.png);
  background-position: 0px -86px;
  width: 39px;
  height: 44px;
}
.icon-adv-3 {
  background-image: url(../images/sprite.png);
  background-position: -39px -86px;
  width: 37px;
  height: 42px;
}
.icon-adv-4 {
  background-image: url(../images/sprite.png);
  background-position: -79px -42px;
  width: 44px;
  height: 41px;
}
.icon-clean-1 {
  background-image: url(../images/sprite.png);
  background-position: -133px -75px;
  width: 31px;
  height: 31px;
}
.icon-clean-2 {
  background-image: url(../images/sprite.png);
  background-position: -124px -130px;
  width: 29px;
  height: 29px;
}
.icon-clean-3 {
  background-image: url(../images/sprite.png);
  background-position: -171px 0px;
  width: 29px;
  height: 28px;
}
.icon-clean-4 {
  background-image: url(../images/sprite.png);
  background-position: -171px -28px;
  width: 28px;
  height: 28px;
}
.icon-clean-5 {
  background-image: url(../images/sprite.png);
  background-position: -171px -83px;
  width: 20px;
  height: 20px;
}
.icon-clean-6 {
  background-image: url(../images/sprite.png);
  background-position: -171px -103px;
  width: 20px;
  height: 20px;
}
.icon-clean-7 {
  background-image: url(../images/sprite.png);
  background-position: -171px -123px;
  width: 20px;
  height: 20px;
}
.icon-clean-8 {
  background-image: url(../images/sprite.png);
  background-position: 0px -160px;
  width: 19px;
  height: 19px;
}
.icon-clean-9 {
  background-image: url(../images/sprite.png);
  background-position: -153px -106px;
  width: 18px;
  height: 18px;
}
.icon-fb-white {
  background-image: url(../images/sprite.png);
  background-position: -62px -130px;
  width: 31px;
  height: 30px;
}
.icon-fb {
  background-image: url(../images/sprite.png);
  background-position: 0px -130px;
  width: 31px;
  height: 30px;
}
.icon-inst-white {
  background-image: url(../images/sprite.png);
  background-position: -93px -130px;
  width: 31px;
  height: 30px;
}
.icon-inst {
  background-image: url(../images/sprite.png);
  background-position: -31px -130px;
  width: 31px;
  height: 30px;
}
.icon-ks {
  background-image: url(../images/sprite.png);
  background-position: -115px -86px;
  width: 17px;
  height: 17px;
}
.icon-life {
  background-image: url(../images/sprite.png);
  background-position: -171px -143px;
  width: 17px;
  height: 17px;
}
.icon-menu-1 {
  background-image: url(../images/sprite.png);
  background-position: -133px -106px;
  width: 20px;
  height: 20px;
}
.icon-menu-2 {
  background-image: url(../images/sprite.png);
  background-position: -115px -103px;
  width: 13px;
  height: 20px;
}
.icon-menu-3 {
  background-image: url(../images/sprite.png);
  background-position: -19px -160px;
  width: 19px;
  height: 19px;
}
.icon-plus {
  background-image: url(../images/sprite.png);
  background-position: -171px -56px;
  width: 27px;
  height: 27px;
}
.icon-s-1 {
  background-image: url(../images/sprite.png);
  background-position: -133px 0px;
  width: 38px;
  height: 38px;
}
.icon-s-2 {
  background-image: url(../images/sprite.png);
  background-position: -76px -86px;
  width: 39px;
  height: 38px;
}
.icon-s-3 {
  background-image: url(../images/sprite.png);
  background-position: -133px -38px;
  width: 33px;
  height: 37px;
}
.icon-subscribe {
  background-image: url(../images/sprite.png);
  background-position: -153px -130px;
  width: 16px;
  height: 16px;
}
.icon-thank {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 79px;
  height: 86px;
}
