$icon-font-path: '../fonts/';

@import "_includs";

.light {
	font-weight: 100;
}

.light-it {
	font-weight: 100;
	font-style: italic;
}

.normal {
	font-weight: 400;
}

.normal-it {
	font-weight: 400;
	font-style: italic;
}

.sbd {
	font-weight: 600;
}

.sbd-it {
	font-weight: 600;
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.bold-it {
	font-weight: 700;
	font-style: italic;
}

.e-bold {
	font-weight: 800;	
}

.e-bold-it {
	font-weight: 800;
	font-style: italic;
}

.black {
	font-weight: 900;
}

.black-it {
	font-weight: 900;
	font-style: italic;
}

.title {
	font-size: 60px;
	font-weight: 900;
}

.title-description {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.5em;
}

@media only screen and (max-width: 1120px) {	
    
   .title {
	   font-size: 50px;
   } 

}

@media only screen and (max-width: 767px) {	
    
	.title {
		font-size: 40px;
	} 
 
 }

 @media only screen and (max-width: 540px) {	
    
	.title {
		font-size: 36px;
	} 

	.title-description {
		font-size: 14px;
	}
 
 }