	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main text-page">
		<section class="about-title-section">
			<div class="img-wrap">
				<img src="images/bg-1.png" alt="">
			</div>
			<div class="container">
				<div class="col-80">
					<h1 class="title sm deco-line black">
							Kлининговая компания «Свитанок Украины» <span> — это высокое качество и оперативность выполнения всех видов работ, независимо от их сложности.        </span>            
					</h1>			
				</div>
				<div class="block mt">
					<div class="row-wrap article">
						<div class="col-50 deco-line__thin min deco-line__thin_black">
							<p>Специально подготовленный персонал, включая промышленных альпинистов, многолетний опыт работы, клининговая техника, специальное оборудование и приспособления, применение профессиональных чистящих и моющих средств — все это помогает нам наиболее эффективно и качественно справляться даже с наиболее сложными задачами.</p>
						</div>
					</div>
				</div>
			</div>	
		</section>
		
		<section class="main-text-section width-block article">
			<div class="container">	
				<div class="row-wrap">
					<div class="col-50">						
						<div class="img-wrap">					
							<img src="images/img-16.jpg" alt="">	
						</div>							
						</div>
						<div class="col-50">							
							<h3 class="subtitle mb">Обращайтесь к нам</h3>														
								<p> Если Вам надо убрать <a href="">квартиру</a>, <a href="">производственные</a> или <a href="">общественные помещения</a> , выполнить <a href="">химчистку ковровых покрытий</a>, <a href="">кожаных </a>	и <a href="">меховых изделий</a> , <a href="">мягкой мебели</a>	, воспользоваться <a href="">услугами прачечной</a>. 
									Если Вы хотите очистить фасад или вымыть окна в высотных зданиях — тоже обращайтесь, наши специалисты отлично владеют навыками промышленного альпинизма.</p>					
						</div>
					</div>
				</div>
		</section>
		
		<section class="content-section">
			<div class="container">
				<h2 class="title md">Сотрудничество с компанией «Свитанок Украины» — это:</h2>
				<div class="row-wrap color-title-wrap">
					<div class="col-25">
						<div class="color-title__block">
							<p class="color-title__title">17</p>
							<p class="color-title__subtitle">лет опыта</p>
						</div>
						<p class="text-16">17-летний опыт на рынке клининговых услуг.</p>
					</div>
					<div class="col-25">
						<div class="color-title__block">
							<p class="color-title__title">100%</p>
							<p class="color-title__subtitle">гарантии</p>
						</div>
						<p class="text-16">100%-ная гарантия использования сертифицированных, экологичных и безопасных для человека чистящих средств.</p>
					</div>
					<div class="col-25">
						<div class="color-title__block">
							<p class="color-title__title">24/7</p>
							<p class="color-title__subtitle">заявки</p>
						</div>
						<p class="text-16">Круглосуточная подача заявок.</p>
					</div>
					<div class="col-25">
						<div class="color-title__block">
							<p class="color-title__title">0 грн</p>
							<p class="color-title__subtitle">за выезд</p>
						</div>
						<p class="text-16">Бесплатный выезд специалиста на объект для его экспертизы и оценки объема работ.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="main-text-section width-block article">
			<div class="container">	
				<h3 class="subtitle mb">Наши клиенты</h3>														
				<div class="row-wrap">
					<div class="col-50">						
							<p>Среди наших клиентов предприятия производственной сферы и пищевой промышленности, фармацевтической и медицинской отрасли, учреждения бюджетной сферы и аптечной сети. </p>
							<p>Список можно продолжать долго, но лучше всего Вы сможете убедиться в нашем профессионализме, обратившись к нам самостоятельно.</p>
						</div>
						<div class="col-50">																			
							<p>Среди наших клиентов предприятия производственной сферы и пищевой промышленности, фармацевтической и медицинской отрасли, учреждения бюджетной сферы и аптечной сети. </p>
							<p>Если Вы хотите очистить фасад или вымыть окна в высотных зданиях — тоже обращайтесь, наши специалисты отлично владеют навыками промышленного альпинизма.</p>								
						</div>
					</div>
				</div>
		</section>

		<section class="content-section mb">
			<div class="container">
				<div class="color-block">
					<p>Свитанок Украины» — это профессионализм, ответственный подход к работе, приятный в общении персонал и выполнение всех пожеланий клиентов. <span>	Приходите, мы ждем Вас!</span></p>
				</div>
			</div>
		</section>
		
		{% include "footer.html" %}	
	</main>
	 {% endblock %} 
