	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main calc-page">
			{{ myMacros.headCalc(text="1") }}

		<section class="main-content-section">
			<div class="container">
				<div class="top-block">
				   <div class="colwrap shadow white">
					   <div class="left-col">
							<div class="block mb">
								<p class="text-16 bold mb">Мы наведем порядок в квартире, вымоем варочную панель и СВЧ.</p>
								<div class="counter__list">
									<div class="counter__item">
										<div class="counter-wrap">
											<span class="counter__icon-wrap">
												<i class="fa fa-plus"></i> 
											</span>
											<p class="counter__name"><span>1</span> комната</p>
											<span class="counter__icon-wrap">
												<i class="fa fa-minus"></i> 
											</span>
										</div>
										<div class="counter-link-block">
											<a href="" class="counter-link">Почему комнаты, а не метры</a>
										</div>
									</div>
									<div class="counter__item">
										<div class="counter-wrap">
											<span class="counter__icon-wrap">
												<i class="fa fa-plus"></i> 
											</span>
											<p class="counter__name"><span>1</span> комната</p>
											<span class="counter__icon-wrap">
												<i class="fa fa-minus"></i> 
											</span>
										</div>
										<div class="counter-link-block">
											<a href="" class="counter-link">Что считается санузлом?</a>
										</div>
									</div>
								</div>
							</div>

							<div class="block mb">
								<h2 class="content-title">Дополнительные услуги</h2>
								<ul class="servises__list">
									{{ myMacros.servisesList(className="item-1", title="Посуда") }}
									{{ myMacros.servisesList(className="item-2", title="Холодильник") }}
									{{ myMacros.servisesList(className="item-3", title="Кухонные шкафы") }}
									{{ myMacros.servisesList(className="item-4", title="Духовка") }}
									{{ myMacros.servisesList(className="item-5", title="Гардероб") }}
									{{ myMacros.servisesList(className="item-6", title="Глажка") }}								
									{{ myMacros.servisesList(className="item-7", title="Питомец") }}
									{{ myMacros.servisesList(className="item-8", title="Балкон") }}
									{{ myMacros.servisesList(className="item-9", title="Окно") }}
								</ul>	
							</div>
							<div class="block mb">
								<h2 class="content-title mb">Услуги от партнеров</h2>
								<p class="text-16">Чтобы сделать Вашу жизнь проще, мы организуем химчистку вещей и доставку еды. Наш клинер отдаст курьеру из химчистки нужные вещи, встретит доставку с едой и аккуратно разложит продукты в холодильнике.</p>
								<ul class="servises__list partner">
									{{ myMacros.servisesList(className="item-10", title="Посуда") }}
									{{ myMacros.servisesList(className="item-11", title="Холодильник") }}									
								</ul>
								<button class="button yellow button--rayen md mt mb">
									<span>Далее</span>
								</button>
								<div class="link-block mt desct-none left">
									<a href="" class="content-link">Вернуться назад</a>
								</div>	
							</div>
							
							<div class="block">
								<h2 class="content-title mb">Ответы на наиболее важные вопросы</h2>
								{% include "faq-block.html" %}
							</div>
								
							<div class="link-block mt desct-none left">
								<a href="" class="content-link">Смотреть все</a>
							</div>	
					   </div> 
					   {% include "right-column.html" %}	 
				   </div>
				</div>
			
		</section>
		
		{% include "footer.html" %}	
	</main>
	 {% endblock %} 
