
{% macro contentList(
className="",

imgPath="",
title="",
text="Убираем в домах и квартирах, бизнес-центрах и HoReCa"

) 
%}	
<li class="content__item">
	<a href="">
		<div class="img-wrap">   
			<img src="{{imgPath}}" alt="">    							
		</div>
		<div class="{{className}} content__item-descr">
			<p class="content-item-title">{{title}}</p>
			<p class="content-item-text">{{text}}</p>
		</div>
	</a>
</li>
{% endmacro %}

{% macro mainTextSection(className="")%}
	<section class="main-text-section {{className}}">		
		{% include "main-text-section.html" %}
	</section>	
{% endmacro %}

{% macro blogtList(
	className="",	
	imgPath="",
	title="",
	data="",
	showSubtitle=false,
	showImgBlock=true,
	showTileBlock=false	
	) 
	%}	
	<li class="blog__item {{className}}">
	{% if showImgBlock %}
		<a href="">
			<div class="img-wrap">   
				<img src="{{imgPath}}" alt="">    							
			</div>
			<div class="blog__item-descr">
				<p class="blog-item-title">{{title}}</p>
				{% if showSubtitle %}	
					<p class="blog-subtitle">Рассказываем, как сделать все возможное, чтобы свести риск к минимуму и не дать ворам обчистить вашу квартиру, пока вы загораете.</p>
				{% endif %} 
				<div class="blog__info-block">
					<p class="blog-item-text"><i class="fa fa-calendar"></i> {{data}}</p>
					<p class="blog-look"><i class="fa fa-eye"></i>255</p>
				</div>
			</div>
		</a>
	{% endif %}
	
{% if showTileBlock %}
	<ul class="tile__list">
		<li class="tile__item">
			<div class="img-wrap">
				<img src="images/img-1.jpg" alt="">
			</div>
			<div class="tile-content-block">
				<div class="tile-wrap">
					<p class="tile-item-text"><i class="fa fa-calendar"></i>11 июля.2018</p>
					<a href="" class="tile-title">Что нового в тарифе "Эконом"</a>
				</div>
				<p class="tile-look"><i class="fa fa-eye"></i>255</p>
			</div>
		</li>
		<li class="tile__item">
			<div class="img-wrap">
				<img src="images/img-2.jpg" alt="">
			</div>
			<div class="tile-content-block">
				<div class="tile-wrap">
					<p class="tile-item-text"><i class="fa fa-calendar"></i>11 июля.2018</p>
					<a href="" class="tile-title">Что нового в тарифе "Эконом"</a>
				</div>
				<p class="tile-look"><i class="fa fa-eye"></i>255</p>
			</div>
		</li>
		<li class="tile__item">
			<div class="img-wrap">
				<img src="images/img-3.jpg" alt="">
			</div>
			<div class="tile-content-block">
				<div class="tile-wrap">
					<p class="tile-item-text"><i class="fa fa-calendar"></i>11 июля.2018</p>
					<a href="" class="tile-title">Что нового в тарифе "Эконом"</a>
				</div>
				<p class="tile-look"><i class="fa fa-eye"></i>255</p>
			</div>
		</li>
	</ul>
{% endif %}
</li>
{% endmacro %}

{% macro servisesList(
className="",		
title=""	
) 
%}	
<li class="servises__item {{className}} ">
	<div class="servises__item-wrap">
		<i class="servises-icon"></i>
		<div class="servises__item-descr">
			<p class="servises-item-title">{{title}}</p>
			<a href="" class="link">Подробнее</a>
		</div>
	</div>
</li>
{% endmacro %}

{% macro priceList(			
	title="",			
	sum="",
	name="",

	showSubtitle=false,
	showLink=false,
	showTwolist=false
	) 
	%}	
	<div class="price__block">
		<p class="price__title">{{title}}
			{% if showLink %}	
				<a href="" class="price-link">Что это?</a>
			{% endif %} 
		</p>
		<div class="price__item">
			<span class="price__name">{{name}}</span>
			<span class="price__sum">{{sum}}</span>			
		</div>
		{% if showTwolist %}
		<div class="price__item">
				<span class="price__name">Чистка ковролина</span>
				<span class="price__sum">1500 грн</span>
				
			</div>
		{% endif %}
		{% if showSubtitle %}
			<span class="price__subtitle">(1 санузел)</span>
		{% endif %} 
	</div>
{% endmacro %}


